*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

   
}
.text {
    margin-bottom: 20px;
    font-size: x-large;
    font-family: sans-serif;
    color: rgb(46, 3, 87);
}
.container {
    width: 1140;
    margin-left: auto;
    margin-right: auto;
    

    
}
.blog-posts {
 float: left;
/* background-color: aqua;*/
 width: 75%;
 padding-right: 20px;

 
}
.author {
 /*background-color: rgb(177, 120, 179);*/
 float: left;

 
}
.other-posts {
/*background-color: rgb(253, 251, 136);*/
width: 25%;
float: left;


}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
.other-posts p{
    padding: 3px;
}
#color{
    color: blue;
    margin-bottom: 30px;
}
.author img{
   
    border-radius: 50%;
    float: left;
  

}
.autext{
    font-size: 22px;
    float: left;
    padding-top: 35px;
    padding-right: 30px;
}